/*------------------------------------*\
  #INLINE-LINKS-THEME-MODIFIERS
\*------------------------------------*/


/* Styles the simple inline anchor elements on the page. */

.inline-link {
  color: #bdbdbd;
  text-decoration: none;
}

.inline-link:hover {
  color: #333;
  transition: .5s;
}





/*------------------------------------*\
  #TESTIMONIAL-THEME-MODIFIERS
\*------------------------------------*/


/* These styles extend the base testimonial component in FIXME.css.

[1] Aligns the content horizontally. */

.testimonial {
  text-align: center; /*[1]*/
  background: lightcoral; /* Temporary helper style. */
}

  /* [2] Overrides the default 100% width defined in the base component.

  [3] Makes the image rounded.

  The rest of the styles are cosmetic and self-explanatory. Feel free to change
  them  to fit your theme. */

  .testimonial__image {
    width: 12.5rem; /*[2]*/
    border-radius: 50%; /*[3]*/
  }

  .testimonial__author,
  .testimonial__location {
    font-family: 'Open Sans', sans-serif;
  }

  .testimonial__author {
    font-size: 1.125rem; 
    text-transform: uppercase;
  }

  .testimonial__location {
    font-size: .75rem;
  }





/*------------------------------------*\
  #TEAM-CARD-THEME-MODIFIERS
\*------------------------------------*/


/* These styles extend the base team card component. All of its styling can be
found here,  except for the image size (that's in the base component) and the
layout of the cards (that comes  from the layout grid).

[1] Aligns the elements inside the card to center.

[2] Overrides the default vertical rhythm from the layout utilities. Creates a
more condensed view for the cards.

[3] Adds a horizontal divider for visual separation and flair through a
pseudo-element. */

.team-card {
  text-align: center; /*[1]*/
  background: lightcoral; /* helper style, will be removed. */
}

  .team-card__flavor-text,
  .team-card__name {
    margin-bottom: 1rem; /*[2]*/
  }

  .team-card__flavor-text {
    color: #bdbdbd;
  }

  .team-card__flavor-text::after { /*[3]*/
    content: '';
    display: block;
    width: 33.3%;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    margin: .5rem auto 0;
  }


  .team-card__name {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
  }


  /* This sub-section styles the social icons in the team cards. It's
  identical to the styles inside the footer. Why repeat it? The footer icons'
  class is unique to the footer in its semantics and organization. Reusing it
  here would create architectural confusion therefore the duplication of the
  styles is the lesser of two evils. In the future these elements could be
  refactored to their own base components and removed from the team-card and
  footer-main components.

  [4] Transforms the inline icon so it could accept margins.

  [5] Adds separation between the icons, is negated by the last-child
  declaration further down below.

  The rest of the styles are cosmetic and self-explanatory. */

  .team-card__social-icon { 
    display: inline-block; /*[4]*/
    margin-right: 1rem; /*[5]*/
    color: #333;
    cursor: pointer;
  }

    .team-card__social-icon:last-child { /*[5]*/
      margin-right: 0;
    }

    .team-card__social-icon:hover {
      color: #bdbdbd;
      transition: .5s;
    }    







/*------------------------------------*\
  #COMPANY-DATA-THEME-MODIFIERS
\*------------------------------------*/


/* This section styles the unordered list that contains the company
information on the contact page. It has no base component because its a unique
element on the page with no reusable part.

Almost every styling can be found here with the following exceptions: the
horizontal centering (done via  layout grid's "--centered" modifier), the
vertical rhythm (layout grid helper classes and line height utility), the
strong lettering (utility class) and the negated margins (grid utility).

[1] These strip the unordered list of its default styling.

[2] The inline-block display mode ensures that the list only takes up the
 space necessary for its content, thus allowing the centering.

[3] Overrides the centering but just inside the list items. */

.company-data {
  list-style-type: none; /*[1]*/
  padding: 0; /*[1]*/
  display: inline-block; /*[2]*/
}

  .company-data__list-item {
    text-align: left; /*[3]*/
  }





/*------------------------------------*\
  #FAQ-THEME-MODIFIERS
\*------------------------------------*/


/* This section adds some custom styling through the question class to  the
FAQ page. It decreases the distance between questions and answers  by
overriding the default vertical rhythm. */

.question {
  margin-bottom: .5rem;
}





/*------------------------------------*\
  #PRICING-LEAD-THEME-MODIFIERS
\*------------------------------------*/


/* This section styles the lead text on the top of the pricing page. It has no
base component because it's a unique occurence in the project. 

Its alignment is set via the layout grid except for the list's vertical rhythm 
and left alignment.

The tricky part of this component are the custom counters in place of the plain 
ordered list numbers. They are created with a CSS counter as a ::before pseudo-element 
for each list item. But because the default styling of the list is nullified, the 
default list indentation is gone as well. 

To solve this we use a position: relative on the list items, create space for the 
counter with a left padding then with position absolute we move the counter to the 
start of the line, over the padding. This way the list item's text has the proper 
indentation. 

In detail: 

[1] Nullifies the default list styling.

[2] Adds vertical rhythm and sets the list back to left-aligned so the laout grid's 
centering won't break the component. Make sure to adapt these if you use a different grid. */

.pricing-lead__list {
  list-style-type: none; /*[1]*/
  padding: 0; /*[1]*/
  margin: 0 0 1.5rem; /*[2]*/
  text-align: left; /*[2]*/
}


  /* [3] Sets up a custom counter.

  [4] Creates some vertical separation between the list items.

  [5] Relatively positions the element so we can position the counter in
  relation  to the list item itself.

  [6] This is the padding that we will use to "park" the counter. */

  .pricing-lead__list-item {
    counter-increment: step-counter; /*[3]*/
    margin-bottom: .5rem; /*[4]*/
    position: relative; /*[5]*/
    padding-left: 1.875rem; /*[6]*/
  }


  /* This sub-section styles the custom counters.

  [7] Adds the custom counter we've set up in the list item.

  [8] The inline-block display is needed for the positioning and the styling of
  [the element.

  [9] These properties take the counter out of the normal document flow and move
  it over  to the start of the list item's line (over the padding) and move 2
  pixels down to align  it vertically.

  [10] These properties create the rounded appearance of the counter.

  [11] Cosmetic and typographic styles. */

  .pricing-lead__list-item::before {
    content: counter(step-counter); /*[7]*/
    display: inline-block; /*[8]*/
    position: absolute; /*[9]*/
    left: 0; /*[9]*/
    top: 2px; /*[9]*/
    line-height: 100%; /*[10]*/
    padding: .125rem .375rem; /*[10]*/  
    border-radius: 50%; /*[10]*/
    background-color: #c4c4c4; /*[11]*/
    color: #f2f2f2; /*[11]*/
    font-family: 'Open Sans', sans-serif; /*[11]*/
    font-weight: 700; /*[11]*/
    font-size: .875rem; /*[11]*/
  }








