/*------------------------------------*\
  #TESTIMONIAL-THEME-MODIFIERS
\*------------------------------------*/


/* These styles extend the base testimonial component in FIXME.css.

[1] Aligns the content horizontally. */

.testimonial {
  text-align: center; /*[1]*/
  background: lightcoral; /* Temporary helper style. */
}

  /* [2] Overrides the default 100% width defined in the base component.

  [3] Makes the image rounded.

  The rest of the styles are cosmetic and self-explanatory. Feel free to change
  them  to fit your theme. */

  .testimonial__image {
    width: 12.5rem; /*[2]*/
    border-radius: 50%; /*[3]*/
  }

  .testimonial__author,
  .testimonial__location {
    font-family: 'Open Sans', sans-serif;
  }

  .testimonial__author {
    font-size: 1.125rem; 
    text-transform: uppercase;
  }

  .testimonial__location {
    font-size: .75rem;
  }





/*------------------------------------*\
  #COMPANY-DATA-THEME-MODIFIERS
\*------------------------------------*/


/* This section styles the unordered list that contains the company
information on the contact page. It has no base component because its a unique
element on the page with no reusable part.

Almost every styling can be found here with the following exceptions: the
horizontal centering (done via  layout grid's "--centered" modifier), the
vertical rhythm (layout grid helper classes and line height utility), the
strong lettering (utility class) and the negated margins (grid utility).

[1] These strip the unordered list of its default styling.

[2] The inline-block display mode ensures that the list only takes up the
 space necessary for its content, thus allowing the centering.

[3] Overrides the centering but just inside the list items. */

.company-data {
  list-style-type: none; /*[1]*/
  padding: 0; /*[1]*/
  display: inline-block; /*[2]*/
}

  .company-data__list-item {
    text-align: left; /*[3]*/
  }





/*------------------------------------*\
  #INLINE-LINKS-THEME-MODIFIERS
\*------------------------------------*/


/* Styles the simple inline anchor elements on the page. */

.inline-link {
  color: #333;
  text-decoration: none;
}

.inline-link:hover {
  color: #bdbdbd;
  transition: .5s;
}















